<!DOCTYPE html>
<html>
<head>
  <title>Sinatra</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><img src="/images/seriously-sinatra.jpeg"></li>
      </ul>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>&copy; Le Chinage & Le Gerage.</footer>
</body>
</html>