<h2>BMI Calculator</h2>
<form action='/bmi_calc' method='post'>
  Weight: <input type='number' name='weight'>
  Height: <input type='text' name='height'>
  <button>calculate your BMI!</button>

</form>