<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Calculator</title>
    <link rel='stylesheet' href='/style.css'>
  </head>

  <body>
    <header>
      <h1>My awesome calculator</h1>
      <nav>
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/basic_calc'>Basic Calculator</a></li>
          <li><a href='/bmi'>BMI Calculator</a></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <p>Copyright Le Gerage and Le Chinage circa 1987</p>
    </footer>
  </body>
</html>