<form action='/calc' method='post'>
  <p>
    first: <input type='number' name='first'>
  </p>
  <p>
    operator: <input type='text' name='operator'>
  </p>
  <p>
    second: <input type='number' name='second'>
  </p>
  
  <button>calculate!</button>

</form>