<form action="/videos" method="post">
  <input name="title" placeholder="title">
  <input name="description" placeholder="description">
  <input name="url" placeholder="url">
  <input name="genre" placeholder="genre">
  <button>Submit </button>
</form>