<div class="row">
  <div class="medium-4 columns">
    <%= image_tag like.likeable.try(:image), class: "th" %>
  </div>
  <div class="medium-8 columns">
    <ul>
      <li><h3><%= like.likeable.try(:name) %></h3></li>
      <li><p>Liked by <%= link_to like.user.try(:name), like.user %></p></li>
      <li>
        <ul class="button-group">
          <li><%= link_to 'Unlike', like, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>