<!doctype html>
<html>
<head>
  <title>Express</title>
  <link type="text/css" rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <img src="/images/nodejs-green.png">
        </li>
      </ul>
    </nav>
  </header>
  <h1>Hello world!</h1>
  <footer>&copy; Le Chinage and Le Gerage.</footer>
</body>
</html>