<!DOCTYPE html>
<html>
<head>
  <title>Facebook</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
    <h1><a href="/">GA Facebook</a></h1>
  </header>
  <section>
    <%= yield %>
  </section>
  <footer>
    &copy; Le Gerage and le Chinage 1987
  </footer>
</body>
</html>