<h2>Create a new user</h2>

<form action="/people" method="post">
  <input name="name" placeholder="full name" />
  <input name="city" placeholder="City" />
  <input name="relationship" placeholder="relationship" />
  <input name="friends" placeholder="How many friends" />
  <input name="dob" type="date" placeholder="dob" />
  <button>Create</button>
</form>