.wrapper {
	width: 960px;
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

main {
	float: left;
	width: 66.66667%;
}

aside {
	float: right;
	width: 29%;
	margin-top: 6em; /* =108px, em means parent font size times 6 */
	color: #888; 
}

footer {
	clear: both;
	color: #BBB;
}

a {
	color: #D00;
	text-decoration: none;
}

a:hover {
	color: #A00;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	/* both above are overriding browser default, h's usually have big margins and padding */
}

h1 {
	font-size: 3em;
	font-weight: normal; 	/* overriding browser default, h1 are usually bold*/

}

h2 {
	font-size: 2em;
	font-weight: normal;
	color: black;
	margin: 0;
	padding: 0;
}

h2 a {
	color: inherit;
}

h2 a:hover {
	color: #D00;
}

time {
	font-size: 2em;
	font-weight: normal;
	color: #CCC;
}

p {
	margin: 1.5em 0 0;
	padding: 0;
}

p.more {
	font-weight: bold;
	text-align: right;
}

img {
	display: block;
	margin: 10px 0;
	max-width: 100%;
}


header h1 {
	display: inline-block;
	margin-right: .5em;
}
header h2 {
	display: inline-block;
	font-size: 1.5em;
	margin-bottom: .5em;
	color: #888;
}

header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
header nav ul li {
	float: left;
	width: 16.66667%;
	margin: 0;
	padding: 0;
}
header nav a {
	display: block;
	font-size: 1.25em;
	color: white;
	background: black;
	margin-right: 1px;
	padding: 15px 0;
	text-align: center;
}
header nav a:hover {
	color: white;
	background: #900;
}

article {
	border-bottom: 1px solid #DDD;
	margin: 3em 0;
	padding-bottom: 1.5em;
}
article p:first-of-type:first-letter {
	float: left;
	font-size: 6em;
	line-height: 1;
	color: #DDD;
	margin: -.1em .1em 0 -.1em;
}

.module {
	border-bottom: 1px solid #DDD;
	padding: 1.5em 0;
}
.module:last-of-type {
	border: none;
}

.ad img {
	margin: 0 auto;
}

/** CLEARFIX HACK:;
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}